{%extends "game/game_base_tag.html"%}
{%block content%}

		<!-- Slider Start 
			#################################
				- THEMEPUNCH BANNER -
			#################################	-->

			<div class="tp-banner-container">
				<div class="tp-banner" >
					<ul>	<!-- SLIDE  -->
						<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
							<!-- MAIN IMAGE -->
							<img src={{tagimg1138|default:'/static/img/slider/slide2.jpg'}}  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
							
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption lfl largeblackbg br-red"
								data-x="20" 
								data-y="100"
								data-speed="1500"
								data-start="1200"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">{{tag1001|default:"We Make Delicious..."}}
							</div>
							<!-- LAYER NR. 2.0 -->
							<div class="tp-caption lfl medium_bg_darkblue br-green"
								data-x="20"
								data-y="200"
								data-speed="1500"
								data-start="1800"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power4.easeIn"
								data-captionhidden="off">{{tag1002|default:"Consectetur Adipisicing"}}
							</div>
							<!-- LAYER NR. 2.1 -->
							<div class="tp-caption lfl medium_bg_darkblue br-lblue"
								data-x="20" 
								data-y="250"
								data-speed="1500"
								data-start="2100"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">{{tag1003|default:"Sed do Seusmod"}}
							</div>
							<!-- LAYER NR. 2.2 -->
							<div class="tp-caption lfl medium_bg_darkblue br-purple"
								data-x="20" 
								data-y="300"
								data-speed="1500"
								data-start="2400"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">{{tag1004|default:"Incididunt ut Labore"}}
							</div>
							<!-- LAYER NR. 2.3 -->
							<div class="tp-caption lfl medium_bg_darkblue br-orange"
								data-x="20" 
								data-y="350"
								data-speed="1500"
								data-start="2700"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">{{tag1005|default:"Excepteur Sint "}}
							</div>
							<!-- LAYER NR. 3.0 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-50"
								data-y="100"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="3600"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 5"><img class="slide-img img-responsive" src="{{tagimg1139|default:'/static/img/slider/s21.png'}}" alt="" />
							</div>
							<!-- LAYER NR. 3.1 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-120"
								data-y="130"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="3900"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 6"><img class="slide-img img-responsive" src="{{tagimg1140|default:'/static/img/slider/s22.png'}}" alt="" />
							</div>
							<!-- LAYER NR. 3.2 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-10"
								data-y="160"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="4200"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 7"><img class="slide-img img-responsive" src="{{tagimg1141|default:'/static/img/slider/s23.png'}}" alt="" />
							</div>
							<!-- LAYER NR. 3.3 -->
							<div class="tp-caption customin customout"
								data-x="right" data-hoffset="-80"
								data-y="190"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="400"
								data-start="4500"
								data-easing="Power3.easeInOut"
								data-endspeed="300"
								style="z-index: 8"><img class="slide-img img-responsive" src="{{tagimg1142|default:'/static/img/slider/s24.png'}}" alt="" />
							</div>
						</li>
						<li data-transition="zoomin" data-slotamount="6" data-masterspeed="400" >
							<!-- MAIN IMAGE -->
							<img src={{tagimg1143|default:'/static/img/slider/transparent.png'}} style="background-color:#fff" alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
							
							<!-- LAYERS -->
							<!-- LAYER NR. 1 -->
							<div class="tp-caption sfl modern_medium_light"
								data-x="20" 
								data-y="90"
								data-speed="800"
								data-start="1000"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">{{tag1006|default:"The New"}}
							</div>
							<!-- LAYER NR. 1.1 -->
							<div class="tp-caption large_bold_grey heading customin customout"
								data-x="10"
								data-y="125"
								data-splitin="chars"
								data-splitout="chars"
								data-elementdelay="0.05"
								data-start="1500"
								data-speed="900"
								data-easing="Back.easeOut"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-endspeed="500"
								data-endeasing="Power3.easeInOut"
								data-captionhidden="on"
								style="z-index:5">{{tag1007|default:"CakeFactory"}}
							</div>
							<!-- LAYER NR. 2 -->
							<div class="tp-caption customin customout"
								data-x="right" 
								data-y="100"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800"
								data-start="2000"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3"><img class="img-responsive" src="{{tagimg1144|default:'/static/img/slider/s11.png'}}" alt="" />
							</div>
							<!-- LAYER NR. 2.1 -->
							<div class="tp-caption customin customout"
								data-x="right" 
								data-y="100"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800"
								data-start="2300"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3"><img class="img-responsive" src="{{tagimg1145|default:'/static/img/slider/s12.png'}}" alt="" />
							</div>
							<!-- LAYER NR. 2.2 -->
							<div class="tp-caption customin customout"
								data-x="right" 
								data-y="100"
								data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="800"
								data-start="2600"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3"><img class="img-responsive" src="{{tagimg1146|default:'/static/img/slider/s13.png'}}" alt="" />
							</div>
							<!-- LAYER NR. 2.3 -->
							<div class="tp-caption sft"
								data-x="right" data-hoffset="-400"
								data-y="80"
								data-speed="1000"
								data-start="3000"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 10"><span class="price-tag br-white">{{tag1008|default:"30%"}}<br />{{tag1009|default:"Off"}}</span>
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption finewide_verysmall_white_mw paragraph customin customout tp-resizeme"
								data-x="20"
								data-y="210" 
								data-customin="x:0;y:50;z:0;rotationX:-120;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 0%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1000"
								data-start="3600"
								data-easing="Power3.easeInOut"
								data-splitin="lines"
								data-splitout="lines"
								data-elementdelay="0.2"
								data-endelementdelay="0.08"
								data-endspeed="300"
								style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">{{tag1010|default:"Lorem ipsum dolor sit amet, consetetur<br/>  sadipscing elitr, sed diam nonumy"}}<br/> 
								 {{tag1011|default:"eirmod tempor invidunt ut labore et"}}<br/> {{tag1012|default:" dolore magna aliquyam erat, sed diam"}} <br/> {{tag1013|default:"voluptua. At vero eos et accusam."}}
								 
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption sfb"
								data-x="20" 
								data-y="335"
								data-speed="800"
								data-start="4500"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 11"><a class="btn btn-danger" href={{tag1014|default:"#"}}>{{tag1015|default:"Download"}}</a> <a class="btn btn-success hidden-xs" href={{tag1016|default:"#"}}>{{tag1017|default:"Purchase Now"}}</a>
							</div>
						</li>
						<li data-transition="slidehorizontal" data-slotamount="1" data-masterspeed="600" >
							<!-- MAIN IMAGE -->
							<img src={{tagimg1147|default:'/static/img/slider/transparent.png'}} style="background-color:#fea501" alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
							<!-- LAYERS NR. 1 -->
							<div class="tp-caption lfl"
								data-x="left"
								data-y="100"
								data-speed="800"
								data-start="1200"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Linear.easeNone"
								data-captionhidden="off"><img class="img-responsive" src="{{tagimg1148|default:'/static/img/slider/s35.png'}}" alt="" />
							</div>
							<!-- LAYERS NR. 2 -->
							<div class="tp-caption lfr large_bold_grey heading white"
								data-x="right" data-hoffset="-10"
								data-y="120"
								data-speed="800"
								data-start="2000"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Linear.easeNone"
								data-captionhidden="off">{{tag1018|default:"Tasty Yammi"}}
							</div>
							<!-- LAYER NR. 3 -->
							<div class="tp-caption whitedivider3px customin customout tp-resizeme"
								data-x="right" data-hoffset="-20"
								data-y="210" data-voffset="0"
								data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="700"
								data-start="2300"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="500"
								style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">&nbsp;
							</div>
							<!-- LAYER NR. 4 -->
							<div class="tp-caption finewide_medium_white randomrotate customout tp-resizeme"
								data-x="right" data-hoffset="-10"
								data-y="245" data-voffset="0"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1000"
								data-start="2700"
								data-easing="Power3.easeInOut"
								data-splitin="chars"
								data-splitout="chars"
								data-elementdelay="0.08"
								data-endelementdelay="0.08"
								data-endspeed="500"
								style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;">{{tag1019|default:"Hamburger"}}
							</div>
							<!-- LAYER NR. 5 -->
							<div class="tp-caption finewide_verysmall_white_mw white customin customout tp-resizeme text-right paragraph"
								data-x="right" data-hoffset="-10"
								data-y="300" 
								data-customin="x:0;y:50;z:0;rotationX:-120;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 0%;"
								data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
								data-speed="1000"
								data-start="3500"
								data-easing="Power3.easeInOut"
								data-splitin="lines"
								data-splitout="lines"
								data-elementdelay="0.2"
								data-endelementdelay="0.08"
								data-endspeed="300"
								style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;">{{tag1020|default:"Lorem ipsum dolor sit amet, consetetur  sadipscing elitr,"}}
								<br/> {{tag1021|default:"nonumy voluptu ansetetur  sadipscing elit. "}}<br/> {{tag1022|default:"sed diam quisquam est nonumy voluptu vero eos et."}}
							</div>
						</li>
						<li data-transition="cube" data-slotamount="7" data-masterspeed="600" >
							<!-- MAIN IMAGE -->
							<img src={{tagimg1149|default:'/static/img/slider/slide2.jpg'}}  alt=""  data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat">
							<!-- LAYERS NR. 1 -->
							<div class="tp-caption lfl"
								data-x="110"
								data-y="130"
								data-speed="800"
								data-start="1500"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power4.easeIn"
								data-captionhidden="off"><img src="{{tagimg1150|default:'/static/img/slider/s31.png'}}" class="img-responsive" alt="" />
							</div>
							<!-- LAYERS NR. 2 -->
							<div class="tp-caption lfl"
								data-x="80"
								data-y="265"
								data-speed="800"
								data-start="2200"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power4.easeIn"
								data-captionhidden="off"><img src="{{tagimg1151|default:'/static/img/slider/s33.png'}}" class="img-responsive" alt="" />
							</div>
							<!-- LAYERS NR. 3 -->
							<div class="tp-caption lfl"
								data-x="450"
								data-y="312"
								data-speed="800"
								data-start="2700"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Power4.easeIn"
								data-captionhidden="off"><img src="{{tagimg1152|default:'/static/img/slider/s34.png'}}" class="img-responsive" alt="" />
							</div>
							<!-- LAYERS NR. 4 -->
							<div class="tp-caption sfr  thinheadline_dark white"
								data-x="right" data-hoffset="-10" 
								data-y="90"
								data-speed="800"
								data-start="3200"
								data-easing="Power4.easeOut"
								data-endspeed="500"
								data-endeasing="Power4.easeIn"
								style="z-index: 3">{{tag1023|default:"Online"}}
							</div>
							<!-- LAYERS NR. 4.1 -->
							<div class="tp-caption lfr largepinkbg br-green"
								data-x="right" data-hoffset="-10"
								data-y="135"
								data-speed="800"
								data-start="3500"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Linear.easeNone"
								data-captionhidden="off">{{tag1024|default:"Seats Reserve"}}
							</div>
							<!-- LAYERS NR. 5 -->
							<div class="tp-caption skewfromright medium_text text-right paragraph"
								data-x="right" data-hoffset="-10"
								data-y="225"
								data-speed="800"
								data-start="3800"
								data-easing="Power4.easeOut"
								data-endspeed="400"
								data-endeasing="Power4.easeOut"
								data-captionhidden="off">{{tag1025|default:"At vero eos etntium accu amet, adipisicing samus iusto"}}<br />
								{{tag1026|default:"praese  delen itieos etconsectetur atque corrupti"}}<br />{{tag1027|default:"praese etntiumder delen itierrupti."}}
							</div>
							<!-- LAYERS NR. 6 // -->
							<div class="tp-caption lfr modern_big_redbg br-red"
								data-x="right"
								data-hoffset="-10"
								data-y="315"
								data-speed="1500"
								data-start="4100"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Linear.easeNone"
								data-captionhidden="off">{{tag1028|default:"Desktop or Laptop"}}
							</div>	
							<!-- LAYERS NR. 6.1 // -->
							<div class="tp-caption lfr modern_big_redbg br-yellow"
								data-x="right"
								data-hoffset="-10"
								data-y="375"
								data-speed="1500"
								data-start="4400"
								data-easing="Power4.easeOut"
								data-endspeed="300"
								data-endeasing="Linear.easeNone"
								data-captionhidden="off">{{tag1029|default:"Tablet or Phone"}}
							</div>
						</li>
					</ul>
					<!-- Banner Timer -->
					<div class="tp-bannertimer"></div>
				</div>
			</div>
			<!-- Slider End -->
			
			
			
			<!-- Main Content -->
			<div class="main-content">
			
				<!-- Showcase Start -->
				
				<div class="showcase">
					<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<!-- Showcase section item -->
								<div class="showcase-item">
									<!-- Image -->
									<img class="img-responsive" src={{tagimg1153|default:'/static/img/fruit2.png'}} alt="" />
									<!-- Heading -->
									<h3><a href="#">{{tag1030|default:"就业班"}}</a></h3>
									<!-- Paragraph -->
									<p>{{tag1031|default:"Nam libero tempore, cum soluta nobis est minis voluptas assum simple and easy to distinguis quo."}}</p>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<!-- Showcase section item -->
								<div class="showcase-item">
									<!-- Image -->
									<img class="img-responsive" src={{tagimg1154|default:'/static/img/fruit3.png'}} alt="" />
									<!-- Heading -->
									<h3><a href="#">{{tag1032|default:"周末班"}}</a></h3>
									<!-- Paragraph -->
									<p>{{tag1033|default:"Nam libero tempore, cum soluta nobis est minis voluptas assum simple and easy to distinguis quo."}}</p>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Showcase End -->
				
				
				<!-- menu Start -->
				
				<div class="menu padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src={{tagimg1155|default:'/static/img/crown.png'}} alt="" />
							<!-- Heading -->
							<h2>{{tag1034|default:"近期课程"}}</h2>
							<!-- Paragraph -->
							<p>{{tag1035|default:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}}</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<!-- Menu content container -->
						<div class="menu-container">
							<div class="row">
								<div class="col-md-4 col-sm-4">
									<!-- Menu header -->
									<div class="menu-head">
										<!-- Image for menu item -->
										<img class="menu-img img-responsive img-thumbnail" src={{tagimg1156|default:'/static/img/menu/menu1.jpg'}} alt="" />
										<!-- Menu title / Heading -->
										<h3>{{tag1036|default:"Seafood"}}</h3>
										<!-- Border for above heading -->
										<div class="title-border br-red"></div>
									</div>
									<!-- Menu item details -->
									<div class="menu-details br-red">
										<!-- Menu list -->
										<ul class="list-unstyled">
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href={{tag1037|default:"#"}}>{{tag1038|default:"Fish"}}</a> 
													<!-- Price badge -->
													<span class="pull-right">{{tag1039|default:"$12"}}</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href={{tag1040|default:"#"}}>{{tag1041|default:"Consequent"}}</a>
													<!-- Price badge -->
													<span class="pull-right">{{tag1042|default:"$9"}}</span>
													<div class="clearfix"></div>
												</div>
											</li>
											
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href={{tag1043|default:"#"}}>{{tag1044|default:"Fish"}}</a> 
													<!-- Price badge -->
													<span class="pull-right">{{tag1045|default:"$12"}}</span>
													<div class="clearfix"></div>
												</div>
											</li>
											
												<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href={{tag1046|default:"#"}}>{{tag1047|default:"Fish"}}</a> 
													<!-- Price badge -->
													<span class="pull-right">{{tag1048|default:"$12"}}</span>
													<div class="clearfix"></div>
												</div>
											</li>											
											
										</ul>
									</div><!-- / Menu details end -->
								</div>
								<div class="col-md-4 col-sm-4">
									<!-- Menu header -->
									<div class="menu-head">
										<!-- Image for menu item -->
										<img class="menu-img img-responsive img-thumbnail" src={{tagimg1157|default:'/static/img/menu/menu2.jpg'}} alt="" />
										<!-- Menu title / Heading -->
										<h3>{{tag1049|default:"Chicken"}}</h3>
										<!-- Border for above heading -->
										<div class="title-border br-green"></div>
									</div>
									<!-- Menu item details -->
									<div class="menu-details br-green">
										<!-- Menu list -->
										<ul class="list-unstyled">
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href={{tag1050|default:"#"}}>{{tag1051|default:"Consequent"}}</a>
													<!-- Price badge -->
													<span class="pull-right">{{tag1052|default:"$9"}}</span>
													<div class="clearfix"></div>
												</div>
											</li>
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href={{tag1053|default:"#"}}>{{tag1054|default:"Consequent"}}</a>
													<!-- Price badge -->
													<span class="pull-right">{{tag1055|default:"$9"}}</span>
													<div class="clearfix"></div>
												</div>
											</li>

											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href={{tag1056|default:"#"}}>{{tag1057|default:"Fish"}}</a> 
													<!-- Price badge -->
													<span class="pull-right">{{tag1058|default:"$12"}}</span>
													<div class="clearfix"></div>
												</div>
											</li>
											
												<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href={{tag1059|default:"#"}}>{{tag1060|default:"Fish"}}</a> 
													<!-- Price badge -->
													<span class="pull-right">{{tag1061|default:"$12"}}</span>
													<div class="clearfix"></div>
												</div>
											</li>	
	
	
										</ul>
									</div><!-- / Menu details end -->
								</div>
								<div class="col-md-4 col-sm-4">
									<!-- Menu header -->
									<div class="menu-head">
										<!-- Image for menu item -->
										<img class="menu-img img-responsive img-thumbnail" src={{tagimg1158|default:'/static/img/menu/menu3.jpg'}} alt="" />
										<!-- Menu title / Heading -->
										<h3>{{tag1062|default:"Dessert"}}</h3>
										<!-- Border for above heading -->
										<div class="title-border br-lblue"></div>
									</div>
									<!-- Menu item details -->
									<div class="menu-details br-lblue">
										<!-- Menu list -->
										<ul class="list-unstyled">
										
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href={{tag1063|default:"#"}}>{{tag1064|default:"Consequent"}}</a>
													<!-- Price badge -->
													<span class="pull-right">{{tag1065|default:"$9"}}</span>
													<div class="clearfix"></div>
												</div>
											</li>
											
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href={{tag1066|default:"#"}}>{{tag1067|default:"Fish"}}</a> 
													<!-- Price badge -->
													<span class="pull-right">{{tag1068|default:"$12"}}</span>
													<div class="clearfix"></div>
												</div>
											</li>
											
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href={{tag1069|default:"#"}}>{{tag1070|default:"Fish"}}</a> 
													<!-- Price badge -->
													<span class="pull-right">{{tag1071|default:"$12"}}</span>
													<div class="clearfix"></div>
												</div>
											</li>																						
											
											<li>
												<div class="menu-list-item">
													<!-- Icon -->
													<i class="fa fa-angle-right"></i> <a href={{tag1072|default:"#"}}>{{tag1073|default:"Consequent"}}</a>
													<!-- Price badge -->
													<span class="pull-right">{{tag1074|default:"$9"}}</span>
													<div class="clearfix"></div>
												</div>
											</li>										
										

										</ul>
									</div><!-- / Menu details end -->
								</div>
							</div>
						</div> <!-- /Menu container end -->
					</div>
				</div>
				
				<!-- Menu End -->				
				
				
				<!-- Dishes Start -->
					
				<div class="dishes padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src={{tagimg1159|default:'/static/img/crown.png'}} alt="" />
							<!-- Heading -->
							<h2>{{tag1075|default:"课程安排"}}</h2>
							<!-- Paragraph -->
							<p>{{tag1076|default:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}}</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<div class="row">
							<div class="col-md-3 col-sm-6">	
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src={{tagimg1160|default:'/static/img/dish/dish5.jpg'}} class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="#"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>{{tag1077|default:"Delicious Chinese"}}</h3>
										<!-- Paragraph -->
										<p>{{tag1078|default:"At vero eos et accusal gusto for ides residuum lores."}}</p>
										<!-- Button -->
										<a href={{tag1079|default:"#"}} class="btn btn-danger btn-sm">{{tag1080|default:"Read more"}}</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src={{tagimg1161|default:'/static/img/dish/dish6.jpg'}} class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="#"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>{{tag1081|default:"Spicy Onion Rings"}}</h3>
										<!-- Paragraph -->
										<p>{{tag1082|default:"At vero eos et accusal gusto for ides residuum lores."}}</p>
										<!-- Button -->
										<a href={{tag1083|default:"#"}} class="btn btn-danger btn-sm">{{tag1084|default:"Read more"}}</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src={{tagimg1162|default:'/static/img/dish/dish7.jpg'}} class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href="#"><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>{{tag1085|default:"Cream Cheese Cup"}}</h3>
										<!-- Paragraph -->
										<p>{{tag1086|default:"At vero eos et accusal gusto for ides residuum lores."}}</p>
										<!-- Button -->
										<a href={{tag1087|default:"#"}} class="btn btn-danger btn-sm">{{tag1088|default:"Read more"}}</a>
									</div>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="dishes-item-container">
									<!-- Image Frame -->
									<div class="img-frame">
										<!-- Image -->
										<img src={{tagimg1163|default:'/static/img/dish/dish8.jpg'}} class="img-responsive" alt="" />
										<!-- Block for on hover effect to image -->
										<div class="img-frame-hover">
											<!-- Hover Icon -->
											<a href={{tag1089|default:"#"}}><i class="fa fa-cutlery"></i></a>
										</div>
									</div>
									<!-- Dish Details -->
									<div class="dish-details">
										<!-- Heading -->
										<h3>{{tag1090|default:"Spicy Cheese Pizza"}}</h3>
										<!-- Paragraph -->
										<p>{{tag1091|default:"At vero eos et accusal gusto for ides residuum lores."}}</p>
										<!-- Button -->
										<a href={{tag1092|default:"#"}} class="btn btn-danger btn-sm">{{tag1093|default:"Read more"}}</a>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
				
				<!-- Dishes End -->
				

				
				<!-- Pricing Start -->
				
				<div class="pricing padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src={{tagimg1164|default:'/static/img/crown.png'}} alt="" />
							<!-- Heading -->
							<h2>{{tag1094|default:"学员作品"}}</h2>
							<!-- Paragraph -->
							<p>{{tag1095|default:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}}</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<div class="row">
							<div class="col-md-6 col-sm-6">
								<!-- Pricing list Item -->
								<div class="pricing-item">
									<!-- Image -->
									<a href={{tag1096|default:"#"}}><img class="img-responsive img-thumbnail" src={{tagimg1165|default:'/static/img/dish/dish3.jpg'}} alt="" /></a>
									<!-- Pricing item details -->
									<div class="pricing-item-details">
										<!-- Heading -->
										<h3><a href={{tag1097|default:"#"}}>{{tag1098|default:"Mix-Veg Fried Rice"}}</a></h3>
										<!-- Paragraph -->
										<p>{[These cases are perfectly simple and distil and when nothing adipose slicing consecrate prevents...]}</p>
										<!-- Buy link -->
										<a class="btn btn-danger pull-right" href={{tag1099|default:"#"}}>{{tag1100|default:"Order now"}}</a>
										<div class="clearfix"></div>
									</div>
									<!-- Tag -->
									<span class="hot-tag br-red">{{tag1101|default:"$45"}}</span>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<!-- Pricing list Item -->
								<div class="pricing-item">
									<!-- Image -->
									<a href="#"><img class="img-responsive img-thumbnail" src={{tagimg1166|default:'/static/img/dish/dish2.jpg'}} alt="" /></a>
									<!-- Pricing item details -->
									<div class="pricing-item-details">
										<!-- Heading -->
										<h3><a href="#">{{tag1102|default:"Spicy Fried Chicken"}}</a></h3>
										<!-- Paragraph -->
										<p>{{tag1103|default:"These cases are perfectly simple and distil and when nothing adipose slicing consecrate prevents..."}}</p>
										<!-- Buy link -->
										<a class="btn btn-danger pull-right" href="#">{{tag1104|default:"Order now"}}</a>
										<div class="clearfix"></div>
									</div>
									<!-- Tag -->
									<span class="hot-tag br-lblue">$19</span>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="clearfix visible-md"></div>
							<div class="col-md-6 col-sm-6">
								<!-- Pricing list Item -->
								<div class="pricing-item">
									<!-- Image -->
									<a href="#"><img class="img-responsive img-thumbnail" src={{tagimg1167|default:'/static/img/dish/dish4.jpg'}} alt="" /></a>
									<!-- Pricing item details -->
									<div class="pricing-item-details">
										<!-- Heading -->
										<h3><a href="#">{{tag1105|default:"Chinese Chicken Momo"}}</a></h3>
										<!-- Paragraph -->
										<p>{{tag1106|default:"These cases are perfectly simple and distil and when nothing adipose slicing consecrate prevents..."}}</p>
										<!-- Buy link -->
										<a class="btn btn-danger pull-right" href="#">{{tag1107|default:"Order now"}}</a>
										<div class="clearfix"></div>
									</div>
									<!-- Tag -->
									<span class="hot-tag br-green">{{tag1108|default:"$49"}}</span>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<!-- Pricing list Item -->
								<div class="pricing-item">
									<!-- Image -->
									<a href="#"><img class="img-responsive img-thumbnail" src={{tagimg1168|default:'/static/img/dish/dish1.jpg'}} alt="" /></a>
									<!-- Pricing item details -->
									<div class="pricing-item-details">
										<!-- Heading -->
										<h3><a href="#">{{tag1109|default:"Sushi"}}</a></h3>
										<!-- Paragraph -->
										<p>{{tag1110|default:"These cases are perfectly simple and distil and when nothing adipose slicing consecrate prevents..."}}</p>
										<!-- Buy link -->
										<a class="btn btn-danger pull-right" href="#">{{tag1111|default:"Order now"}}</a>
										<div class="clearfix"></div>
									</div>
									<!-- Tag -->
									<span class="hot-tag br-red">$29</span>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Pricing End -->
				
				<!-- Chefs Start -->
				
				<div class="chefs padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src={{tagimg1169|default:'/static/img/crown.png'}} alt="" />
							<!-- Heading -->
							<h2>{{tag1112|default:"师资力量"}}</h2>
							<!-- Paragraph -->
							<p>{{tag1113|default:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}}</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<div class="row">
							<div class="col-md-4 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src={{tagimg1170|default:'/static/img/chef/c-back2.jpg'}} alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src={{tagimg1171|default:'/static/img/chef/4.jpg'}} alt="" />
									</div>
									<!--Name / Heading -->
									<h3><a href="#">{{tag1114|default:"Venison Gorky"}}</a></h3>
									<!-- Member designation -->
									<span>{{tag1115|default:"Chefs Incharge"}}</span>
									<!-- Social media links -->
									<div class="social">
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src={{tagimg1172|default:'/static/img/chef/c-back1.jpg'}} alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src={{tagimg1173|default:'/static/img/chef/7.jpg'}} alt="" />
									</div>
									<!--Name / Heading -->
									<h3><a href="#">{{tag1116|default:"Million Carey"}}</a></h3>
									<!-- Member designation -->
									<span>Chefs Incharge</span>
									<!-- Social media links -->
									<div class="social">
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src={{tagimg1174|default:'/static/img/chef/c-back3.jpg'}} alt="" />
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src={{tagimg1175|default:'/static/img/chef/2.jpg'}} alt="" />
									</div>
									<!--Name / Heading -->
									<h3><a href="#">{{tag1117|default:"Juliet Watson"}}</a></h3>
									<!-- Member designation -->
									<span>{{tag1118|default:"Chefs Incharge"}}</span>
									<!-- Social media links -->
									<div class="social">
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Chefs End -->
				
				<!-- Testimonial Start -->
				
				<div class="testimonial padd">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<!-- BLock heading -->
								<h3>{{tag1119|default:"学习环境"}}</h3>
								<!-- Flex slider Content -->
								<div class="flexslider-recent">
									<ul class="slides">
										<li>
											<!-- Image for background -->
											<img class="img-responsive" src={{tagimg1176|default:'/static/img/dish/dish9.jpg'}} alt="" />
											<!-- Slide content -->
											<div class="slider-content">
												<!-- Heading -->
												<h4>{{tag1120|default:"Healthy Salad"}}</h4>
												<!-- Paragraph -->
												<p>{{tag1121|default:"Sed ut perspiciatis unde omnis iste natus error sitvolua rchitecto beatae vitae dicta sunt explicabo eaque ipsa quae ab illo inventore."}}</p>
											</div>
										</li>
										<li>
											<!-- Image for background -->
											<img class="img-responsive" src={{tagimg1177|default:'/static/img/dish/dish10.jpg'}} alt="" />
											<!-- Slide content -->
											<div class="slider-content">
												<!-- Heading -->
												<h4>{{tag1122|default:"White Vanilla Cake"}}</h4>
												<!-- Paragraph -->
												<p>{{tag1123|default:"Sed ut perspiciatis unde omnis iste natus error sitvolua rchitecto beatae vitae dicta sunt explicabo eaque ipsa quae ab illo inventore."}}</p>
											</div>
										</li>
										<li>
											<!-- Image for background -->
											<img class="img-responsive" src={{tagimg1178|default:'/static/img/dish/dish11.jpg'}} alt="" />
											<!-- Slide content -->
											<div class="slider-content">
												<!-- Heading -->
												<h4>{{tag1124|default:"Tasty Fried Fish"}}</h4>
												<!-- Paragraph -->
												<p>{{tag1125|default:"Sed ut perspiciatis unde omnis iste natus error sitvolua rchitecto beatae vitae dicta sunt explicabo eaque ipsa quae ab illo inventore."}}</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6">
								<!-- BLock heading -->
								<h3>{{tag1126|default:"毕业学员"}}</h3>
								<!-- Flex slider Content -->
								<div class="flexslider-testimonial">
									<ul class="slides">
										<li>
											<!-- Testimonial Content -->
											<div class="testimonial-item">
												<!-- Quote -->
												<span class="quote lblue">&#8220;</span> 
												<!-- Your comments -->
												<blockquote>
													<!-- Paragraph -->
													<p>{{tag1127|default:"Sed ut perm aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta."}}</p>
												</blockquote>
												<!-- Heading with image -->
												<h4><img class="img-responsive img-circle" src={{tagimg1179|default:'/static/img/user.jpg'}} alt="" />{{tag1128|default:" Jhon Doe"}}<span>{{tag1129|default:", your designation"}}</span></h4>
												<div class="clearfix"></div>
											</div>
										</li>
										<li>
											<!-- Testimonial Content -->
											<div class="testimonial-item">
												<!-- Quote -->
												<span class="quote lblue">&#8220;</span> 
												<!-- Your comments -->
												<blockquote>
													<!-- Paragraph -->
													<p>{{tag1130|default:" I must explain torn and I will give you a complete account of the system, and expound the actual teachings of the dislikes."}}</p>
												</blockquote>
												<!-- Heading with image -->
												<h4><img class="img-responsive img-circle" src={{tagimg1180|default:'/static/img/user.jpg'}} alt="" /> {{tag1131|default:"Marten"}}<span>{{tag1132|default:", your designation"}}</span></h4>
												<div class="clearfix"></div>
											</div>
										</li>
										<li>
											<!-- Testimonial Content -->
											<div class="testimonial-item">
												<!-- Quote -->
												<span class="quote lblue">&#8220;</span> 
												<!-- Your comments -->
												<blockquote>
													<!-- Paragraph -->
													<p>{{tag1133|default:"us qui bland itiis praes entium volup tatumstias excepturi sint occaecati cupiditate non laboratory."}}</p>
												</blockquote>
												<!-- Heading with image -->
												<h4><img class="img-responsive img-circle" src={{tagimg1181|default:'/static/img/user.jpg'}} alt="" />{{tag1134|default:" Katrina Doe"}}<span>{{tag1135|default:", your designation"}}</span></h4>
												<div class="clearfix"></div>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Testimonial End -->
				
				<!-- Gallery Start -->
				
				<div class="gallery padd">
					<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src={{tagimg1182|default:'/static/img/crown.png'}} alt="" />
							<!-- Heading -->
							<h2>{{tag1136|default:"合作单位"}}</h2>
							<!-- Paragraph -->
							<p>{{tag1137|default:"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."}}</p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<!-- Gallery elements with pretty photo -->
						<div class="gallery-content">
							<div class="row">
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src={{tagimg1183|default:'/static/img/dish/dish1.jpg'}} alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/static/img/dish/dish1.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src={{tagimg1184|default:'/static/img/dish/dish2.jpg'}} alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/static/img/dish/dish2.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src={{tagimg1185|default:'/static/img/dish/dish3.jpg'}} alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href="/static/img/dish/dish3.jpg" class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src={{tagimg1186|default:'/static/img/dish/dish4.jpg'}} alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href={{tagimg1187|default:'/static/img/dish/dish4.jpg'}} class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src={{tagimg1188|default:'/static/img/dish/dish12.jpg'}} alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href={{tagimg1189|default:'/static/img/dish/dish12.jpg'}} class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src={{tagimg1190|default:'/static/img/dish/dish13.jpg'}} alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href={{tagimg1191|default:'/static/img/dish/dish13.jpg'}} class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src={{tagimg1192|default:'/static/img/dish/dish14.jpg'}} alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href={{tagimg1193|default:'/static/img/dish/dish14.jpg'}} class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
								<div class="col-md-3 col-sm-4">
									<!-- Separate gallery element -->
									<div class="element">
										<!-- Image -->
										<img class="img-responsive img-thumbnail" src={{tagimg1194|default:'/static/img/dish/dish15.jpg'}} alt=""/>
										<!-- Gallery Image Hover Effect -->
										<span class="gallery-img-hover"></span>
										<!-- Gallery Image Hover Icon -->
										<a href={{tagimg1195|default:'/static/img/dish/dish15.jpg'}} class="gallery-img-link">
											<i class="fa fa-search-plus hover-icon icon-left"></i>
										</a>
										<a href="#">
											<i class="fa fa-link hover-icon icon-right"></i>
										</a>
									</div>
								</div>
							</div>
						</div><!-- Separate gallery element --><!--/ End Gallery content class -->
					</div>
				</div>
				
				<!-- Gallery End -->
				
			</div><!-- / Main Content End -->	



{%endblock%}
