{%extends "game/game_base_tag.html"%}
{%block content%}

			
			<!-- Banner Start -->
			
			<div class="banner padd">
				<div class="container">
					<!-- Image -->
					<!-- Heading -->
					<div class="clearfix"></div>
				</div>
			</div>
			
			<!-- Banner End -->
			
			
			
			<!-- Inner Content -->
			<div class="chefs padd">
			
			<div class="container">
						<!-- Default Heading -->
						<div class="default-heading">
							<!-- Crown image -->
							<img class="img-responsive" src="/static/img/crown.png" alt="">
							<!-- Heading -->
							<h2>师资力量</h2>
							<!-- Paragraph -->
							<p></p>
							<!-- Border -->
							<div class="border"></div>
						</div>
						<div class="row">

							{%for a in teachers%}
							
							<div class="col-md-4 col-sm-4">
								<!-- Chef Member -->
								<div class="chefs-member">
									<!-- Chefs member header -->
									<div class="chefs-head">
										<!-- Member background image -->
										<img class="chefs-back img-responsive" src={{a.background|default:"/static/img/chef/c-back3.jpg"}} alt="">
										<!-- chef member image -->
										<img class="chefs-img img-responsive" src={{a.photo|default:"/static/img/chef/2.jpg"}} alt="">
									</div>
									<!--Name / Heading -->
									<h3><a href="#">{{a.name}}</a></h3>
									<!-- Member designation -->
									<span>{{a.content|truncatechars:10}}</span>
									<!-- Social media links -->
									<div class="social">
										<a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
										<a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
										<a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
										<a href="#" class="pinterest"><i class="fa fa-pinterest"></i></a>
									</div>
								</div>
							</div>
							{%endfor%}
				<!-- Shopping Start -->
				


						</div><!--row-->
						
													<!-- Pagination -->
							<div class="shopping-pagination">
								<ul class="pagination">
									<li class="disabled"><a href="#">&laquo;</a></li>
									<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">&raquo;</a></li>
								</ul>
							</div>
							<!-- Pagination end-->
					</div><!--container-->
				</div> <!--padd-->
				
				<!-- Shopping End -->
			
{%endblock%}
