<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/static/ico/favicon.png">
        <title>{{tag3001|default:"智普全栈工程师"}}</title>
        <!-- Bootstrap Core CSS -->
        <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Plugins CSS -->
        <link href="/static/UItoTop/css/ui.totop.css" rel="stylesheet">
        <link href="/static/prettyPhoto/css/prettyPhoto.css" rel="stylesheet">
        <!-- REVOLUTION BANNER CSS SETTINGS -->
        <link rel="stylesheet" type="text/css" href="/static/rs-plugin/css/settings.css" media="screen" />
        <!-- Custom Stylesheet For This Template -->
        <link href="/static/css/stylesheet.css" rel="stylesheet">
        <link href="/static/css/skins.css" rel="stylesheet">
        <!-- Font Awesome  -->    
        <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- Google Fonts -->    
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="static/js/html5shiv.js"></script>
        <script src="static/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div id="main-wrapper" class="color-skin-3">
            <header id="header-1" class="header">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 header-info-wrapper">
                            <ul class="list-inline">
                                <li><i class="icon-mobile-phone"></i>{{tag3002|default:" Mobile: 010-62231977"}}</li>
                                <li><i class="icon-dribbble"></i> URL: <a href="{{tag3003|default:"http://www.jeapedu.com"}}" target="view_window">www.jeapedu.com</a></li>
                            </ul>
                            <!-- /.list-inline -->
                        </div>
                        <!-- /.header-info-wrapper -->
                                          
                     <div class="jiathis_style">
			<div class="pull-right">
                        <ul class="social pull-left">
	                   <a class="jiathis_button_qzone">QQ空间</a>
	                   <a class="jiathis_button_tsina">新浪微博</a>
	                   <a class="jiathis_button_tqq">腾讯微博</a>
	                   <a class="jiathis_button_weixin">微信</a>
	                   <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1375338789866952" charset="utf-8"></script>
<!-- JiaThis Button END -->
                            <!-- /.social-links -->
                        </div>
                        <!-- /.social-link-wrapper -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </header>
            <!-- /.header-1 -->
            <header id="header-2" class="header" data-spy="affix" data-offset-top="200" style="width: 100%; top: 0;">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="{{tag3004|default:"http://www.jeapedu.com"}}" target="view_window">{{tag3005|default:"智普教育"}}</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav">
                                <li class="dropdown active">
                                    <a href="/" class="dropdown-toggle"">{{tag3006|default:"首页"}}</a>
   
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{tag3007|default:"课程"}}</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="courses?cateid=1" target="view_window">{{tag3008|default:"IOS"}}</a></li>
                                        
                                        <li><a href="courses?cateid=2" target="view_window">{{tag3009|default:"Python"}}</a></li>
                                      
					<li><a href="courses?cateid=5" target="view_window">{{tag3010|default:"Android"}}</a></li>
					<li><a href="courses?cateid=4" target="view_window">{{tag3011|default:"嵌入式"}}</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="{{tag3012|default:"http://uliweb.cpython.org"}}" target="view_window" class="dropdown-toggle">{{tag3013|default:"论坛"}}</a>

                                </li>
                                <li class="dropdown">
                                    <a href="{{tag3014|default:"http://baidu.com"}}" target="view_window" class="dropdown-toggle" data-toggle="dropdown">{{tag3015|default:"在线咨询"}}</a>

                                </li>
                                
                            </ul>
                            <!-- /.nav -->
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <!-- /.container -->
                </nav>
                <!-- /.navbar -->
            </header>
           
   </div> <!--main-wrapper-->


{%block content%}
{%endblock%}






<footer id="footer-2" class="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 footer-info-wrapper">
                            <span>{{tag3016|default:"Jeapedu © 2014. Powered by"}} <a href="{{tag3017|default:"http://www.quanzhan.net"}}">{{tag3018|default:"quanzhan"}}</a></span>                        
                        </div>
                        <!-- /.footer-info-wrapper -->
                     <!-- JiaThis Button BEGIN -->
                     <div class="jiathis_style">
		 	 <div class="pull-right">
                        <ul class="social pull-left">
	                   <a class="jiathis_button_qzone">QQ空间</a>
	                   <a class="jiathis_button_tsina">新浪微博</a>
	                   <a class="jiathis_button_tqq">腾讯微博</a>
	                   <a class="jiathis_button_weixin">微信</a>
	                   <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
                    </div>
                    <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1375338789866952" charset="utf-8"></script>
<!-- JiaThis Button END -->
                        <!-- /.social-link-wrapper -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </footer>
            <!-- /#footer-2 -->
            <div id="skin-chooser-container" class="skin-chooser-container">
                <a data-toggle="modal" href="#myModal" class="skin-chooser sr-only"><i class="icon-cogs"></i></a>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">CHOOSE COLOR SKIN</h4>
                            </div>
                            <div class="modal-body">
                                <div class="skins-wrapper">
                                    <ul class="list-inline">
                                        <li>
                                            <div id="color-skin-1" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-2" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-3" class="color-skin active"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-4" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-5" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-6" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-7" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-8" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-9" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-10" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-11" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-12" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-13" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-14" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-15" class="color-skin"></div>
                                        </li>
                                        <li>
                                            <div id="color-skin-16" class="color-skin"></div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
            <!-- /#skin-chooser-container -->
        </div>

        <!-- /#main-wrapper -->
        <!-- Bootstrap JS & Others JavaScript Plugins
            ================================================== -->
        <!-- Placed At The End Of The Document So Page Loads Faster -->
        <script src="/static/js/jquery-2.0.3.min.js"></script>
        <script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
        <script src="/static/bootstrap/js/bootstrap.min.js"></script>
        <script src="/static/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
        <script src="/static/carouFredSel-6.2.1/jquery.carouFredSel-6.2.1.js"></script>
        <script src="/static/prettyPhoto/js/jquery.prettyPhoto.js"></script>
        <script src="/static/jflickrfeed/jflickrfeed.min.js"></script>
        <script src="/static/UItoTop/js/easing.js"></script>
        <script src="/static/UItoTop/js/jquery.ui.totop.min.js"></script>
        <script src="/static/isotope-site/jquery.isotope.min.js"></script>
        <script src="/static/FitVids.js/jquery.fitvids.js"></script>
        <script type="text/javascript">
            var tpj = jQuery;
            tpj.noConflict();
            tpj(document).ready(function () {
                // Revolution Slider
                if (tpj.fn.cssOriginal != undefined)
                    tpj.fn.css = tpj.fn.cssOriginal;
                tpj('.fullwidthbanner').revolution({
                    delay: 9000,
                    startwidth: 1200,
                    startheight: 400,
            
                    onHoverStop: "on",
            
                    thumbWidth: 100,
                    thumbHeight: 50,
                    thumbAmount: 3,
            
                    hideThumbs: 0,
            
                    navigationType: "none",
                    navigationArrows: "solo",
                    navigationStyle: "round",
                    navigationHAlign: "left",
                    navigationVAlign: "bottom",
                    navigationHOffset: 30,
                    navigationVOffset: 30,
            
                    soloArrowLeftHalign: "left",
                    soloArrowLeftValign: "center",
                    soloArrowLeftHOffset: 20,
                    soloArrowLeftVOffset: 0,
            
                    soloArrowRightHalign: "right",
                    soloArrowRightValign: "center",
                    soloArrowRightHOffset: 20,
                    soloArrowRightVOffset: 0,
            
                    stopAtSlide: -1,
                    stopAfterLoops: -1,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    hideSliderAtLimit: 0,
            
                    fullWidth: "on",
                    fullScreen: "off",
                    fullScreenOffsetContainer: "#topheader-to-offset",
            
                    shadow: 0
                });
                // PrettyPhoto
                tpj("a[rel^='prettyPhoto']").prettyPhoto({
                    theme: 'light_square',
                    social_tools: false
                });
                // FitVids
                tpj(".responsive-video-wrapper").fitVids();
                // jflickrfeed
                tpj('.flickr-photos-list').jflickrfeed({
                    limit: 9,
                    qstrings: {
                        id: '71865026@N00'
                    },
                    itemTemplate: '<li><a href="{{image_b}}"><img src="{{image_s}}" alt="{{title}}" /></a></li>'
                });
                // jQuery UItoTop
                tpj().UItoTop({ easingType: 'easeOutQuart' });
                // Skin Chooser
                tpj(".color-skin").click(function () {
                    var cls = this.id;
                    tpj(".color-skin").removeClass("active");
                    tpj(this).addClass("active");
                    tpj("#main-wrapper").removeClass();
                    tpj("#main-wrapper").addClass(cls);
                });
            });
            // jQuery CarouFredSel
            var caroufredsel = function () {
                tpj('#caroufredsel-portfolio-container').carouFredSel({
                    responsive: true,
                    scroll: 1,
                    circular: false,
                    infinite: false,
                    items: {
                        visible: {
                            min: 1,
                            max: 3
                        }
                    },
                    prev: '#portfolio-prev',
                    next: '#portfolio-next',
                    auto: {
                        play: false
                    }
                });
                tpj('#caroufredsel-clients-container').carouFredSel({
                    responsive: true,
                    scroll: 1,
                    circular: false,
                    infinite: false,
                    items: {
                        visible: {
                            min: 1,
                            max: 4
                        }
                    },
                    prev: '#client-prev',
                    next: '#client-next',
                    auto: {
                        play: false
                    }
                });
            };
            tpj(window).load(function () {
                caroufredsel();
            });
            tpj(window).resize(function () {
                caroufredsel();
            });            
        </script>
    </body>
</html>

