{%extends "pythonvideo/base_tag.html"%}
{%block content%}
            <!-- /#header-2 -->
            <section id="fullwidthbanner-container" class="section fullwidthbanner-container">
                <div class="fullwidthbanner">
                    <ul>
                        <!-- THE 1ST SLIDE -->
                        <li data-transition="papercut" data-slotamount="10" data-masterspeed="300">
                            <img src="{{tagimg1032|default:'static/img/slides/slide (1).jpg'}}" alt="Slide Image">
                            <div class="tp-caption modern_medium_fat sft stt"
                                data-x="145"
                                data-y="75"
                                data-speed="300"
                                data-start="1000"
                                data-easing="easeOutExpo">{{tag1001|default:"IOS"}}</div>
                            
                            <div class="tp-caption theme_caption3 sfl stl"
                                data-x="145"
                                data-y="150"
                                data-speed="600"
                                data-start="1400"
                                data-easing="easeOutExpo">
			
                                {{tag1002|default:"苹果iOS是由苹果公司开发的移动操作系统苹果公司最早于2007年1月9日的Macworld"}}<br>
				{{tag1003|default:"大会上公布这个系统，最初是设计给iPhone使用的，后来陆续套用到iPod touch、iPad以"}}<br>				{{tag1004|default:"及Apple TV等产品上。iOS与苹果的Mac OS X操作系统一样，它也是以Darwin为基础的，"}}<br>				{{tag1005|default:"因此同样属于类Unix的商业操作系统。原本这个系统名为iPhone OS，因为iPad，iPhone，"}}<br>				{{tag1006|default:"iPod Touch都使用iPhone OS，所以2010WWDC大会上宣布改名为iOS。"}}
                            </div>
                            <a href=/courses?cateid=1 target="view_window" class="caption btn btn-flat flat-primary btn-bordered sfb stb" 
                                data-x="145"
                                data-y="280"
                                data-speed="300" 
                                data-start="1600"
                                data-easing="easeOutExpo">{{tag1007|default:"IOS课程"}}</a>
                            <a href=/courses?cateid=1 target="view_window" class="caption btn btn-flat flat-color sfb stb"  
                                data-x="265" 
                                data-y="280" 
                                data-speed="300"
                                data-start="1800"
                                data-easing="easeOutExpo">{{tag1008|default:"IOS教学"}}</a>
                            <div class="caption lfr ltr"
                                data-x="725"
                                data-y="0"
                                data-speed="300"
                                data-start="2000"
                                data-easing="easeOutExpo"><img src="{{tagimg1033|default:'static/img/slides/iphone (1).png'}}" alt="Slide Image"></div>
                            <div class="caption lfr ltr"
                                data-x="565"
                                data-y="0"
                                data-speed="300"
                                data-start="2200"
                                data-easing="easeOutExpo"><img src="{{tagimg1034|default:'static/img/slides/iphone (2).png'}}" alt="Slide Image"></div>
                        </li>
                        <!-- THE 2ND SLIDE -->
                        <li data-transition="slideleft" data-slotamount="10" data-masterspeed="300">
                            <img src="{{tagimg1035|default:'static/img/slides/slide (7).jpg'}}" alt="Slide Image">
                            <div class="caption boxshadow lfr ltr"
                                data-x="595" 
                                data-y="70" 
                                data-speed="900"
                                data-start="500" 
                                data-easing="easeOutBack"></div>
                            <div class="caption modern_big_bluebg sft stt" 
                                data-x="145" 
                                data-y="80"
                                data-speed="300" 
                                data-start="1200" 
                                data-easing="easeOutExpo">{{tag1009|default:"嵌入式"}}</div>
			   <div class="tp-caption theme_caption3 sfl stl"
                                data-x="145"
                                data-y="150"
                                data-speed="600"
                                data-start="1400"
                                data-easing="easeOutExpo">
				{{tag1010|default:"IEEE（Institute of Electrical and Electronics Engineers，"}}<br>
				{{tag1011|default:"美国电气和电子工程师协会）对嵌入式系统的定义：“用于控制、"}}<br>
				{{tag1012|default:"监视或者辅助操作机器和设备的装置”。原文为：Devices Used to Control，"}}<br>
				{{tag1013|default:"Monitor or Assist the Operation of Equipment，Machinery or Plants）。"}}<br>


			   </div>
			   <a href=/courses?cateid=4 target="view_window" class="caption btn btn-flat flat-primary btn-bordered sfb stb" 
                                data-x="145"
                                data-y="280"
                                data-speed="300" 
                                data-start="1600"
                                data-easing="easeOutExpo">{{tag1014|default:"嵌入式课程"}}</a>
                            <a href=/courses?cateid=4 target="view_window" class="caption btn btn-flat flat-color sfb stb"  
                                data-x="265" 
                                data-y="280" 
                                data-speed="300"
                                data-start="1800"
                                data-easing="easeOutExpo">{{tag1015|default:"嵌入式教学"}}</a>

			    <div class="caption lfr ltr"
                                data-x="725"
                                data-y="0"
                                data-speed="300"
                                data-start="2000"
                                data-easing="easeOutExpo"><img src="{{tagimg1036|default:'static/img/slides/iphone (1).png'}}" alt="Slide Image"></div>
                            <div class="caption lfr ltr"
                                data-x="565"
                                data-y="0"
                                data-speed="300"
                                data-start="2200"
                                data-easing="easeOutExpo"><img src="{{tagimg1037|default:'static/img/slides/iphone (2).png'}}" alt="Slide
Image"></div>




			    <div class="caption lfr ltr"
                                data-x="1100"
                                data-y="0"
                                data-speed="300"
                                data-start="3000"
                                data-easing="easeOutExpo"><img src="{{tagimg1038|default:'static/img/slides/imac.png'}}" alt="Slide Image"></div>



                            
                        </li>
                        <!-- THE 3RD SLIDE -->
                        <li data-transition="boxslide" data-slotamount="10" data-masterspeed="300">
                            <img src="{{tagimg1039|default:'static/img/slides/slide (3).jpg'}}" alt="Slide Image">
                            <div class="tp-caption modern_medium_fat sft stt"
                                data-x="145"
                                data-y="75"
                                data-speed="300"
                                data-start="2000"
                                data-easing="easeOutExpo">{{tag1016|default:"Python"}}</div>
                            <div class="tp-caption theme_caption3 lfl ltl"
                                data-x="145"
                                data-y="150"
                                data-speed="600"
                                data-start="2400"
                                data-easing="easeOutExpo">
                                {{tag1017|default:"Python（英语发音：/ˈpaɪθən/）, 是一种面向对象、解释型计算机程序设计语言，"}}<br>
				{{tag1018|default:"由Guido van Rossum于1989年底发明，第一个公开发行版发行于1991年。Python"}}<br>
				{{tag1019|default:"语法简洁而清晰，具有丰富和强大的类库。常见的一种应用情形是，使用Python快速"}}<br>
				{{tag1020|default:"生成程序的原型（有时甚至是程序的最终界面），然后对其中有特别要求的部分，"}}<br>
				{{tag1021|default:"用更合适的语言改写，比如3D游戏中的图形渲染模块，性能要求特别高，就可以用C++重写。"}}<br>
                            </div>
                            <div class="caption btn btn-flat flat-primary btn-bordered sfb stb"  
                                data-x="145"
                                data-y="280"
                                data-speed="300" 
                                data-start="2600"
                                data-easing="easeOutExpo"><a href=/courses?cateid=2 target="view_window" class="">{{tag1022|default:"Python课程"}}</a>
                            </div>
                            <div class="caption btn btn-flat flat-color sfb stb"
                                data-x="265" 
                                data-y="280"
                                data-speed="300"
                                data-start="2800" 
                                data-easing="easeOutExpo"><a href=/courses?cateid=2 target="view_window" class="">{{tag1023|default:"Python教学"}}</a>
                            </div>
                            <div class="caption lfr ltr"
                                data-x="685"
                                data-y="0"
                                data-speed="300"
                                data-start="3000"
                                data-easing="easeOutExpo"><img src="{{tagimg1040|default:'static/img/slides/imac.png'}}" alt="Slide Image"></div>
                        </li>
			<!-- THE 4ST SLIDE -->
                        <li data-transition="papercut" data-slotamount="10" data-masterspeed="300">
                            <img src="{{tagimg1041|default:'static/img/slides/slide (9).jpg'}}" alt="Slide Image">
                            <div class="tp-caption modern_medium_fat sft stt"
                                data-x="145"
                                data-y="75"
                                data-speed="300"
                                data-start="1000"
                                data-easing="easeOutExpo">{{tag1024|default:"Android"}}</div>
                            
                            <div class="tp-caption theme_caption3 sfl stl"
                                data-x="145"
                                data-y="150"
                                data-speed="600"

                                data-start="1400"
                                data-easing="easeOutExpo">

				{{tag1025|default:"Android是一种基于Linux的自由及开放源代码的操作系统，主要使用于移动设备，如智能手机和平板电脑，"}}<br>
				{{tag1026|default:"由Google公司和开放手机联盟领导及开发。尚未有统一中文名称，中国大陆地区较多人使用“安卓”或“安致”。"}}<br>
				{{tag1027|default:"Android操作系统最初由Andy Rubin开发，主要支持手机。2005年8月由Google收购注资。2007年11月，"}}<br>
				{{tag1028|default:"Google与84家硬件制造商、软件开发商及电信营运商组建开放手机联盟共同研发改良Android系统。"}}<br>
				{{tag1029|default:"随后Google以Apache开源许可证的授权方式，发布了Android的源代码。"}}





                            </div>
                            <a href=/courses?cateid=5 target="view_window" class="caption btn btn-flat flat-primary btn-bordered sfb stb" 
                                data-x="145"
                                data-y="280"
                                data-speed="300" 
                                data-start="1600"
                                data-easing="easeOutExpo">{{tag1030|default:"Android课程"}}</a>
                            <a href=/courses?cateid=5 target="view_window" class="caption btn btn-flat flat-color sfb stb"  
                                data-x="265" 
                                data-y="280" 
                                data-speed="300"
                                data-start="1800"
                                data-easing="easeOutExpo">{{tag1031|default:"Android教学"}}</a>
                            <div class="caption lfr ltr"
                                data-x="725"
                                data-y="0"
                                data-speed="300"
                                data-start="2000"
                                data-easing="easeOutExpo"><img src="[{static/img/slides/imac.png" alt="Slide Image"></div>

                        </li>

                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                </div>
                <!-- /.fullwidthbanner -->

            </section>
            <!-- /.fullwidthbanner-container -->
            <section id="our-services" class="section colored-wrapper">
                <div class="container">
                    <div class="row">
			{%for c in cates%}
                        <div class="col-xs-12 col-sm-6 wrapper-1">
                            <div class="service service-2" style="height:144px;">
                                <span class="service-icon">
                                <i class={{c.icon}}></i>
                                </span>
				<h4>{{c.title}}</h4>
				<p>{{c.intro}}</p>
                     
                                
                            </div>
                        </div>
                        <!-- /.col-sm-6 -->
			{%endfor%}
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /#our-services -->

{%endblock%}
