{%extends "pythonvideo/base_tag.html"%}
{%block content%}
            <!-- /#header-2 -->
            <section id="fullwidthbanner-container" class="section fullwidthbanner-container">
                <div class="fullwidthbanner">
                    <ul>
                        <!-- THE 1ST SLIDE -->
                        <li data-transition="papercut" data-slotamount="10" data-masterspeed="300">
                            <img src="{{tagimg36|default:'static/img/slides/slide (1).jpg'}}" alt="Slide Image">
                            <div class="tp-caption modern_medium_fat sft stt"
                                data-x="145"
                                data-y="75"
                                data-speed="300"
                                data-start="1000"
                                data-easing="easeOutExpo">{{tag1|default:"IOS"}}</div>
                            
                            <div class="tp-caption theme_caption3 sfl stl"
                                data-x="145"
                                data-y="150"
                                data-speed="600"
                                data-start="1400"
                                data-easing="easeOutExpo">
			
                                {{tag2|default:"苹果iOS是由苹果公司开发的移动操作系统苹果公司最早于2007年1月9日的Macworld"}}<br>
				{{tag3|default:"大会上公布这个系统，最初是设计给iPhone使用的，后来陆续套用到iPod touch、iPad以"}}<br>				{{tag4|default:"及Apple TV等产品上。iOS与苹果的Mac OS X操作系统一样，它也是以Darwin为基础的，"}}<br>				{{tag5|default:"因此同样属于类Unix的商业操作系统。原本这个系统名为iPhone OS，因为iPad，iPhone，"}}<br>				{{tag6|default:"iPod Touch都使用iPhone OS，所以2010WWDC大会上宣布改名为iOS。"}}
                            </div>
                            <a href=/courses?cateid=1 target="view_window" class="caption btn btn-flat flat-primary btn-bordered sfb stb" 
                                data-x="145"
                                data-y="280"
                                data-speed="300" 
                                data-start="1600"
                                data-easing="easeOutExpo">{{tag7|default:"IOS课程"}}</a>
                            <a href=/courses?cateid=1 target="view_window" class="caption btn btn-flat flat-color sfb stb"  
                                data-x="265" 
                                data-y="280" 
                                data-speed="300"
                                data-start="1800"
                                data-easing="easeOutExpo">{{tag8|default:"IOS教学"}}</a>
                            <div class="caption lfr ltr"
                                data-x="725"
                                data-y="0"
                                data-speed="300"
                                data-start="2000"
                                data-easing="easeOutExpo"><img src="{{tagimg37|default:'static/img/slides/iphone (1).png'}}" alt="Slide Image"></div>
                            <div class="caption lfr ltr"
                                data-x="565"
                                data-y="0"
                                data-speed="300"
                                data-start="2200"
                                data-easing="easeOutExpo"><img src="{{tagimg38|default:'static/img/slides/iphone (2).png'}}" alt="Slide Image"></div>
                        </li>
                        <!-- THE 2ND SLIDE -->
                        <li data-transition="slideleft" data-slotamount="10" data-masterspeed="300">
                            <img src="{{tagimg39|default:'static/img/slides/slide (7).jpg'}}" alt="Slide Image">
                            <div class="caption boxshadow lfr ltr"
                                data-x="595" 
                                data-y="70" 
                                data-speed="900"
                                data-start="500" 
                                data-easing="easeOutBack"></div>
                            <div class="caption modern_big_bluebg sft stt" 
                                data-x="145" 
                                data-y="80"
                                data-speed="300" 
                                data-start="1200" 
                                data-easing="easeOutExpo">{{tag9|default:"嵌入式"}}</div>
			   <div class="tp-caption theme_caption3 sfl stl"
                                data-x="145"
                                data-y="150"
                                data-speed="600"
                                data-start="1400"
                                data-easing="easeOutExpo">
				{{tag10|default:"IEEE（Institute of Electrical and Electronics Engineers，"}}<br>
				{{tag11|default:"美国电气和电子工程师协会）对嵌入式系统的定义：“用于控制、"}}<br>
				{{tag12|default:"监视或者辅助操作机器和设备的装置”。原文为：Devices Used to Control，"}}<br>
				{{tag13|default:"Monitor or Assist the Operation of Equipment，Machinery or Plants）。"}}<br>


			   </div>
			   <a href=/courses?cateid=4 target="view_window" class="caption btn btn-flat flat-primary btn-bordered sfb stb" 
                                data-x="145"
                                data-y="280"
                                data-speed="300" 
                                data-start="1600"
                                data-easing="easeOutExpo">{{tag14|default:"嵌入式课程"}}</a>
                            <a href=/courses?cateid=4 target="view_window" class="caption btn btn-flat flat-color sfb stb"  
                                data-x="265" 
                                data-y="280" 
                                data-speed="300"
                                data-start="1800"
                                data-easing="easeOutExpo">{{tag15|default:"嵌入式教学"}}</a>

			    <div class="caption lfr ltr"
                                data-x="725"
                                data-y="0"
                                data-speed="300"
                                data-start="2000"
                                data-easing="easeOutExpo"><img src="{{tagimg40|default:'static/img/slides/iphone (1).png'}}" alt="Slide Image"></div>
                            <div class="caption lfr ltr"
                                data-x="565"
                                data-y="0"
                                data-speed="300"
                                data-start="2200"
                                data-easing="easeOutExpo"><img src="{{tagimg41|default:'static/img/slides/iphone (2).png'}}" alt="Slide
Image"></div>




			    <div class="caption lfr ltr"
                                data-x="1100"
                                data-y="0"
                                data-speed="300"
                                data-start="3000"
                                data-easing="easeOutExpo"><img src="{{tagimg42|default:'static/img/slides/imac.png'}}" alt="Slide Image"></div>



                            
                        </li>
                        <!-- THE 3RD SLIDE -->
                        <li data-transition="boxslide" data-slotamount="10" data-masterspeed="300">
                            <img src="{{tagimg43|default:'static/img/slides/slide (3).jpg'}}" alt="Slide Image">
                            <div class="tp-caption modern_medium_fat sft stt"
                                data-x="145"
                                data-y="75"
                                data-speed="300"
                                data-start="2000"
                                data-easing="easeOutExpo">{{tag16|default:"Python"}}</div>
                            <div class="tp-caption theme_caption3 lfl ltl"
                                data-x="145"
                                data-y="150"
                                data-speed="600"
                                data-start="2400"
                                data-easing="easeOutExpo">
                                {{tag17|default:"Python（英语发音：/ˈpaɪθən/）, 是一种面向对象、解释型计算机程序设计语言，"}}<br>
				{{tag18|default:"由Guido van Rossum于1989年底发明，第一个公开发行版发行于1991年。Python"}}<br>
				{{tag19|default:"语法简洁而清晰，具有丰富和强大的类库。常见的一种应用情形是，使用Python快速"}}<br>
				{{tag20|default:"生成程序的原型（有时甚至是程序的最终界面），然后对其中有特别要求的部分，"}}<br>
				{{tag21|default:"用更合适的语言改写，比如3D游戏中的图形渲染模块，性能要求特别高，就可以用C++重写。"}}<br>
                            </div>
                            <div class="caption btn btn-flat flat-primary btn-bordered sfb stb"  
                                data-x="145"
                                data-y="280"
                                data-speed="300" 
                                data-start="2600"
                                data-easing="easeOutExpo"><a href=/courses?cateid=2 target="view_window" class="">{{tag22|default:"Python课程"}}</a>
                            </div>
                            <div class="caption btn btn-flat flat-color sfb stb"
                                data-x="265" 
                                data-y="280"
                                data-speed="300"
                                data-start="2800" 
                                data-easing="easeOutExpo"><a href=/courses?cateid=2 target="view_window" class="">{{tag23|default:"Python教学"}}</a>
                            </div>
                            <div class="caption lfr ltr"
                                data-x="685"
                                data-y="0"
                                data-speed="300"
                                data-start="3000"
                                data-easing="easeOutExpo"><img src="{{tagimg44|default:'static/img/slides/imac.png'}}" alt="Slide Image"></div>
                        </li>
			<!-- THE 4ST SLIDE -->
                        <li data-transition="papercut" data-slotamount="10" data-masterspeed="300">
                            <img src="{{tagimg45|default:'static/img/slides/slide (9).jpg'}}" alt="Slide Image">
                            <div class="tp-caption modern_medium_fat sft stt"
                                data-x="145"
                                data-y="75"
                                data-speed="300"
                                data-start="1000"
                                data-easing="easeOutExpo">{{tag24|default:"Android"}}</div>
                            
                            <div class="tp-caption theme_caption3 sfl stl"
                                data-x="145"
                                data-y="150"
                                data-speed="600"

                                data-start="1400"
                                data-easing="easeOutExpo">

				{{tag25|default:"Android是一种基于Linux的自由及开放源代码的操作系统，主要使用于移动设备，如智能手机和平板电脑，"}}<br>
				{{tag26|default:"由Google公司和开放手机联盟领导及开发。尚未有统一中文名称，中国大陆地区较多人使用“安卓”或“安致”。"}}<br>
				{{tag27|default:"Android操作系统最初由Andy Rubin开发，主要支持手机。2005年8月由Google收购注资。2007年11月，"}}<br>
				{{tag28|default:"Google与84家硬件制造商、软件开发商及电信营运商组建开放手机联盟共同研发改良Android系统。"}}<br>
				{{tag29|default:"随后Google以Apache开源许可证的授权方式，发布了Android的源代码。"}}





                            </div>
                            <a href=/courses?cateid=5 target="view_window" class="caption btn btn-flat flat-primary btn-bordered sfb stb" 
                                data-x="145"
                                data-y="280"
                                data-speed="300" 
                                data-start="1600"
                                data-easing="easeOutExpo">{{tag30|default:"Android课程"}}</a>
                            <a href=/courses?cateid=5 target="view_window" class="caption btn btn-flat flat-color sfb stb"  
                                data-x="265" 
                                data-y="280" 
                                data-speed="300"
                                data-start="1800"
                                data-easing="easeOutExpo">{{tag31|default:"Android教学"}}</a>
                            <div class="caption lfr ltr"
                                data-x="725"
                                data-y="0"
                                data-speed="300"
                                data-start="2000"
                                data-easing="easeOutExpo"><img src="{{tagimg46|default:'static/img/slides/imac.png'}}" alt="Slide Image"></div>

                        </li>

                    </ul>
                    <div class="tp-bannertimer tp-bottom"></div>
                </div>
                <!-- /.fullwidthbanner -->

            </section>
            <!-- /.fullwidthbanner-container -->
            <section id="our-services" class="section colored-wrapper">
                <div class="container">
		    <h5 class="subpage-title">
                        <span>课程分类</span>
                        <!-- Controls -->
			<a href=/cates class="prev black disabled" style="width:92px;height:30px; " target=_blank>点击更多</a>
                    </h5>
                    <div class="row">
			{%for c in cates%}
			<a href=/courses?cateid={{c.id}} target="view_window">
                        <div class="col-xs-12 col-sm-6 wrapper-1">
                            <div class="service service-2" style="height:144px;">
                                <span class="service-icon">
                                <i class={{c.icon}}></i>
                                </span>
				<h4>{{c.title}}</h4>
				<p>{{c.intro}}</p>
                     
                                
                            </div>
                        </div>
			</a>
                        <!-- /.col-sm-6 -->
			{%endfor%}
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            <!-- /#our-services -->
<section id="recent-works" class="section">
                <div class="container wrapper-2">
                    <h5 class="subpage-title">
                        <span>{{tag32|default:"课程视频"}}</span>
                        <!-- Controls -->
			<span id="portfolio-next" class="next black" style="display: block;"><i class="icon-angle-right"></i></span>
                        <span id="portfolio-prev" class="prev black disabled" style="display: block;"><i class="icon-angle-left"></i></span>
                    </h5>
                    <div class="row">
                        <div id="caroufredsel-portfolio-container">
			{%for c in courses%}
			<a href=/video/{{c.id}} target="view_window">
                            <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item-wrapper">
                                <div class="portfolio-item">
                                    <div class="portfolio-thumb">
                                        <img style="width:280px;height:200px;" src={{MEDIA_URL}}{{c.get_image}}>
                                        <div class="image-overlay"></div>
                                        <a href="{{tagimg47|default:'static/img/portfolio/photo (1).jpg'}}" rel="prettyPhoto[pp_gal]"></a>
                                        <a href="portfolio-item-1.html" ></a>
                                    </div>
                                    <div class="portfolio-content">
                                        <h5>{{c.title}}</h5>
                                        <p>{{c.intro}}</p>
                                    </div>
                                </div>
                            </div>
			</a>
			{%endfor%}
                            <!-- /.portfolio-item-wrapper -->

                        </div>
                        <!-- /.caroufredsel-portfolio-container -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
	<!-- /#recent-works -->
            
            <!-- /#awesome-callout -->
<section id="recent-works" class="section">
                <div class="container wrapper-2">
                    <h5 class="subpage-title">
                        <span>{{tag33|default:"最新视频"}}</span>
                        <!-- Controls -->
 			<a href=/videos class="prev black disabled" style="width:92px;height:30px; " target=_blank>点击更多</a>
                        
                    </h5>
                    <div class="row">
                        <div class="row">
			{%for v in videos%}
			<a href=/video/{{v.courseid.id}}?vid={{v.id}}>
                                <div class="col-sm-6 col-md-4">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <img style="width:400px;height:225px;" src={{MEDIA_URL}}{{v.get_image}} class="img-responsive" alt="Responsive image"></a>
                                        </div>
                                        <div class="product-info">
                                            <h4>{{v.title}}</a></h4>
                                        </div>
                       </div>
                                    <!-- /.product -->
                                </div>
				</a>
                                {%endfor%}


                           
                        </div></div>
                        <!-- /.caroufredsel-portfolio-container -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>
            
            <!-- /#recent-works -->
            
            <!-- /#awesome-callout -->
            <section id="our-clients" class="section">
                <div class="container wrapper-1">
                    <h5 class="subpage-title">
                        <span>{{tag34|default:"热门视频"}}</span>
                        <!-- Controls -->
			<a href=/videos class="prev black disabled" style="width:92px;height:30px; " target=_blank>点击更多</a>
                    </h5>
                    <div class="row">
                        <div class="row">
			{%for v in videos%}
			<a href=/video/{{v.courseid.id}}?vid={{v.id}}>
                                <div class="col-sm-6 col-md-4">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <img  style="width:400px;height:225px;" src={{MEDIA_URL}}{{v.get_image}} class="img-responsive" alt="Responsive image"></a>
                                        </div>
                                        <div class="product-info">
                                            <h4>{{v.title}}</a></h4>
                                        </div>
                       		     </div>
                                    <!-- /.product -->
                                </div>
				</a>
                                {%endfor%}


                           
                        </div></div>
                        <!-- /#caroufredsel-clients-container -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </section>

            <!-- /#our-clients -->
           
            <section id="our-clients" class="section">
                <div class="container wrapper-1">
                    <h5 class="subpage-title">
                        <span>{{tag35|default:"最新视频"}}</span>
                        <!-- Controls -->
			<a href=/videos class="prev black disabled" style="width:92px;height:30px; " target=_blank>点击更多</a>
			{%for v in videos%}
                       <div class="m-cpic" style="color: #666666; font-size: 12px; font-family: 微软雅黑, 宋体, 黑体; ">

			<a style="color: #00848e;" title="" href=""><img  src="{{v.get_image}}" alt="" width="300px" height="300px" /></a>
  
    
    
    			<div class="course_info" style="color: #666666; font-size: 12px; font-family: 微软雅黑, 宋体, 黑体; ">
  
			<h2 style="color: #1c130c; font-size: 22px; font-family: 'microsoft yahei';">{{v.title}}</h2>

			<p><strong style="color: #1c130c;font-size: 22px;">授课老师：</strong>何家胜</p>
			<p><strong style="color: #1c130c;">课程简介：</strong>{{v.intro}}</p>

     <div class="u-cshare">

       			<div  class="bdshare_t bds_tools get-codes-bdshare btn" style="font-size: 12px;float:right;"><a id="favorite" style="color: #6a6a6a; font-family: 宋体, Arial;" title="收藏本课程"></a></div>
        

       			<div  class="bdshare_t bds_tools get-codes-bdshare btn" style="font-size: 12px; float:right"><a style="color: #6a6a6a; font-family: 宋体, Arial;" title="课程已更新完毕"></div>

<p>&nbsp;</p>

</div> <!--u-cshare-->
  
  
 </div> <!--course-info-->

  </div> <!--m-cpic--> 
			{%endfor%}

			
                </div>
                <!-- /.container -->
                    </h5>
            </section>
           
{%endblock%}
