<!DOCTYPE html>
<html class="no-js" lang="en-US">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="description" content={{tag2001|default:"智普教育 全栈工程师 iOS"}}>
<meta name="keywords" content={{tag2002|default:"智普教育 全栈工程师 iOS"}}>
<title>{{tag2003|default:"千人免费学|全栈工程师培训|iOS"}}</title>
<link rel='stylesheet' type='text/css' media='all' id='theme_stylesheet-css'href='/static/css/main_style.css'  />
<style> 
#header-wrap {
	background:
		url({{tagimg2044|default:'/static/img/header01.jpg'}})
		no-repeat center top;
	background-size: cover;
}

#site-title a,#site-description {
	color: #fff !important
}
</style>
<style type="text/css">
.recentcomments a {
	display: inline !important;
	padding: 0 !important;
	margin: 0 !important;
}
</style>
</head>

<body class="home blog basic">

	<div id="page">

		<div id="header-wrap" class="grid wfull">
			<header id="header" class="grid  row" role="banner">
				<div class="left-header fl">
					<h1 id="site-title">
						<a href={{tag2004|default:"/"}}><img src={{tagimg2045|default:'http://ios.jeapedu.com/image/jeap-logo2-%E7%99%BD%E8%89%B2_2.png'}}/></a>
					</h1>
				</div>

				<div class="right-header fr">
					<nav id="site-navigation" class="navbar navbar-inverse"
						role="navigation">
						<div class="navbar-inner">
							<ul id="menu-testing-menu" class="nav">
								<li id="menu-item-1048"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-menu-parent menu-item-1048"><a href={{tag2005|default:"#"}}>{{tag2006|default:"为您服务"}}</a>
							   </li>
								<li id="menu-item-1048"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-menu-parent menu-item-1048"><a href={{tag2007|default:"#"}}>{{tag2008|default:"师资力量"}}</a>
							   </li>
								<li id="menu-item-1048"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-menu-parent menu-item-1048"><a href={{tag2009|default:"#"}}>{{tag2010|default:"就业单位"}}</a>
							   </li>
								<li id="menu-item-1048"
									class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-menu-parent menu-item-1048"><a href={{tag2011|default:"#"}}>{{tag2012|default:"联系我们"}}</a>
							   </li>

							</ul>
						</div>
					</nav>
					<!-- #site-navigation -->
				</div>
			</header>
			<!-- #header .row -->

			<div class="grid  row">
				<div class="jumbotron c10 s1">
					<h1>{{tag2013|default:"Jumbo Headline!"}}</h1>
					<p class="lead">{{tag2014|default:"Got something important to say? Then make itstand out by using the jumbo headline option."}}</p>
					<a class="btn btn-large btn-primary" href={{tag2015|default:"#"}}>{{tag2016|default:"Call to Action"}}</a>
				</div>
			</div>

		</div>

		<div id="main" class="grid  row">
			<div id="left-nav"></div>

			<div id="home-page-widgets" class="c12">
				<div class="row">


					<aside class="home-widget c3 bavotasan_custom_text_widget">
						<a href={{tag2017|default:"#"}}>
						<img
							src={{tagimg2046|default:'/static/img/ex01.jpg'}}
							alt="" class="img-circle aligncenter" />
						<h3 class="home-widget-title">{{tag2018|default:"Responsive Design"}}</h3>
						<div class="textwidget">
							<p>{{tag2019|default:"Resize your browser to see how"}} <strong>{{tag2020|default:"Tonic"}}</strong>{{tag2021|default:" willadjust for desktops, tablets and handheld devices."}}</p>
						</div>
						</a>
					</aside>

					<aside class="home-widget c3 bavotasan_custom_text_widget">
						<a href={{tag2022|default:"#"}}>
						<img
							src={{tagimg2047|default:'/static/img/ex04.jpg'}}
							alt="" class="img-circle aligncenter" />
						<h3 class="home-widget-title">{{tag2023|default:"Responsive Design"}}</h3>
						<div class="textwidget">
							<p>{{tag2024|default:"Resize your browser to see how"}} <strong>{{tag2025|default:"Tonic"}}</strong>{{tag2026|default:" willadjust for desktops, tablets and handheld devices."}}</p>
						</div>
						</a>
					</aside>
					<aside class="home-widget c3 bavotasan_custom_text_widget">
						<a href={{tag2027|default:"#"}}>
						<img
							src={{tagimg2048|default:'/static/img/ex02.jpg'}}
							alt="" class="img-circle aligncenter" />
						<h3 class="home-widget-title">{{tag2028|default:"Responsive Design"}}</h3>
						<div class="textwidget">
							<p>{{tag2029|default:"Resize your browser to see how"}} <strong>{{tag2030|default:"Tonic"}}</strong>{{tag2031|default:" willadjust for desktops, tablets and handheld devices."}}</p>
						</div>
						</a>
					</aside>

					<aside class="home-widget c3 bavotasan_custom_text_widget">
						<a href={{tag2032|default:"#"}}>
						<img
							src={{tagimg2049|default:'/static/img/ex03.jpg'}}
							alt="" class="img-circle aligncenter" />
						<h3 class="home-widget-title">{{tag2033|default:"Responsive Design"}}</h3>
						<div class="textwidget">
							<p>{{tag2034|default:"Resize your browser to see how"}} <strong>{{tag2035|default:"Tonic"}}</strong>{{tag2036|default:" willadjust for desktops, tablets and handheld devices."}}</p>
						</div>
						</a>
					</aside>

				</div>
			</div>

		</div>
		<!-- #main.row -->
	</div>
	<!-- #page.grid -->

	<footer id="footer" role="contentinfo">
		<div id="footer-content" class="grid ">
			<div class="row">
				<p class="copyright c12">
					<span class="fl">{{tag2037|default:"Copyright &copy; 2014 "}}<a
						href={{tag2038|default:"#"}}>{{tag2039|default:"Tonic"}}</a>. {{tag2040|default:"All Rights Reserved."}}
					</span> <span class="credit-link fr"><i class="icon-leaf"></i>{{tag2041|default:"Designed by"}} <a href={{tag2042|default:"#"}}>{{tag2043|default:"电话"}}</a>.</span>
				</p>
				<!-- .c12 -->
			</div>
			<!-- .row -->
		</div>
		<!-- #footer-content.grid -->
	</footer>
	<!-- #footer -->

</body>
</html>
