
{%extends "game/game_base_tag.html"%}
			
			{%block content%}
			<!-- Banner Start -->
			
			
			
			<!-- Inner Content -->
			<div class="inner-page padd">
			
				<!-- About company -->
				<div class="about-company padd">
					<div class="container">


						<div class="component-content">
							<!-- Heading -->
							<h3>您报名的是:{{event.title}}</h3>
							{%if form%}
							您报名出错：
							<form>
								<table>{{form}}</table>
							</form>
							{%else%}
							<!-- Buttons -->
							您的提交已经收到 您可以访问:</p>
							<a class="btn btn-success" src="http://www.chinagame.me">中游主页</a>
							<a class="btn btn-success" src="http://bbs.chinagame.me">中游社区</a>
							{%endif%}

						</div>


					</div>
				</div>
				

			

				
			</div><!-- / Inner Page Content End -->	
			
{%endblock%}
